* {
    margin: 0px;
    padding: 0px;
    
    }
.container_logo {
    display: flex;
}
.logo {
    width: 30px;
    height: 30px;
}
.logo2 {
    width: 70px;
    height: 70px;
    margin-left: 950px;
}

.title {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 450px;
}
nav {
    display: flex;
    gap: 20px;
}
a {
    color: rgba(0, 0, 0, 0.507);
}
h1{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.TEXTES {
display: flex;
justify-content: space-between;
gap: 80px;
padding: 5px 200px;
margin-left: 200px;
margin-right: 200px;
}
h1 {
    color: rgba(0, 207, 162, 0.801);
}
.BOXS {
display: flex;
justify-content: center;
gap: 30px;
margin-top: 100px;
padding: 30px;
height: 300px;
text-align: center;
font-size: 20px;


}
.box1 {
    color: white;
    background-color: rgba(0, 207, 162, 0.801);
    border-radius: 8%;
    font-size: 20px;

    
    
}
.patients {
width: 30px;
}
.doctors {
    width: 30px;
} 
.clinics {
    width: 30px;
}
.box2 {
    color: white;
    background-color: rgb(0, 132, 255);
    border-radius: 10%;
    
}
.box3 {
    color: white;
    background-color: rgba(4, 3, 26, 0.644);
    border-radius: 10%;
    
}
.apple{
    color: aqua;
    font-size: x-large;
}
