* {
    margin: 0px;
    padding: 0px;
}
.container_logo {
    display: flex;
}
.logo {
    width: 30px;
    height: 30px;
}
.title {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 450px;
}
nav {
    display: flex;
    gap: 20px;
}
a {
    color: rgba(0, 0, 0, 0.507);
}
h1{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.TEXTES {
display: flex;
justify-content: space-between;
gap: 80px;
padding: 5px 200px;
margin-left: 200px;
margin-right: 200px;
}
h1 {
    color: rgb(0, 255, 200);
}
.BOXS {
display: flex;
justify-content: space-between;
gap: 250px;
margin-left: 340px;
margin-right: 340px;
padding: 80px; 
}
.box1 {
    color: white;
    background-color: rgb(0, 255, 200);
    border-radius: 10%;
    padding: 30px;
    
    
}
.box2 {
    color: white;
    background-color: rgb(0, 132, 255);
    border-radius: 10%;
    padding: 30px;
}
.box3 {
    color: white;
    background-color: rgba(4, 3, 26, 0.815);
    border-radius: 10%;
    padding: 30px;
}
