* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
    }
.container_logo {
    display: flex;
}
.logo {
    width: 30px;
    height: 30px;
}
.logo2 {
    width: 70px;
    height: 70px;
    margin-left: 950px;
}

.title {

display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 450px;
}
nav {
    display: flex;
    gap: 20px;
}
a {
    color: rgba(0, 0, 0, 0.507);
}
h1{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 35px;
}



.TEXTES {
display: flex;
justify-content: space-between;
gap: 30px;
margin-left: 400px;
margin-right: 400px;

}
h1 {
    color: rgba(0, 207, 162, 0.801);
}

.BOXS {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 80px;
margin-left: 400px;
margin-right: 400px;
gap: 30px;
}
.box1 {
    color: white;
    background-color: rgba(0, 207, 162, 0.801);
height: 300px;
width: 250px;
padding: 15px;
border-radius: 8px;

}
@media (max-width:)
.patients {
width: 30px;
}
.doctors {
    width: 30px;
} 
.clinics {
    width: 30px;
}
.box2 {
    color: white;
    background-color: rgb(0, 132, 255);
height: 300px;
width: 250px;
padding: 15px;
border-radius: 8px;

    
}
.box3 {
    color: white;
    background-color: rgba(4, 3, 26, 0.644);
    height: 300px;
width: 250px;
padding: 15px;
border-radius: 8px;
}
.pr1 {
    color: rgba(0, 207, 162, 0.801);
}
.sc1 {
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    padding: 50px;
    
}
.LOGO1 {
    display: flex;
    justify-content: space-between;
}
.LOGO2 {
    display: flex;
    justify-content: space-between;
}
.LG1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.LG2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.LG3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.LG4 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.LG5 {
    display: flex;
    justify-content: space-between;
}
.LOGO1 {
    gap: 90px;
}
.LOGO2 {
    gap: 100px;
}
.LG0{
    color: rgba(169, 169, 169, 0.651);
}
.part3 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(154, 255, 221, 0.747);
}
.sc22 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.boxx1 {
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 30px;
    border-radius: 10px;
}
.boxx2 {
    background-color: white;
    width: 200px;
height: 200px;
margin: 30px;
 border-radius: 10px;
}
.boxx3 {
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 30px;
     border-radius: 10px;
}
.boxx4 {
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 30px;
     border-radius: 10px;
}
.part4 {
    display: flex;
    justify-content: center;
    height: 150px;
}
.part3 {
    display: flex;
    justify-content: center;
}
.sc22 {
    gap: 0px;
}
i{
    margin-top: 20px;
}
.p1 {
    margin-top: 20px;
}
.p2 {
margin-top: 20px;
}
.p3 {
margin-top: 20px;
}
select {
    margin-top: 50px;

}
.sc2 {
    margin-top: 200px;
}
.H2 {
    margin-top: 20px;
}